@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0px;
    font-family: Roboto;
    background-image: url(photo.jpg);
    background-size: cover;
}
.Me{
    padding-left: 200px;
    margin-top: 0px;
    padding-top: 150px;
    color:sandybrown;
    font-size: 300%;
}
.Intro{
    font-size: 150%;
    color:antiquewhite;
    padding-left: 50px;
}
.degree{
    font-size: 200%;
    color:antiquewhite;
    padding-left: 50px;
    padding-top: 50px;
}
#deg{
    font-size: 100%;
    color:sandybrown;
}
h2{
    text-decoration: none;
    transition:0s;
}
.res{
    border: 2px;
    border-style: solid;
    width:fit-content;
    border-color: aqua;
    color: sandybrown;
    margin-left: 100px;
    margin-top: 50px;
    padding:10px;
    
    
}
.res a{
    color:antiquewhite ;
    text-decoration: none;
    font-size:150%;
   

}
.res a:hover{
    color:aqua;
    font-size: xx-large;
}
.jeev{
    font-size:xx-large;
    color: antiquewhite;
    padding-left: 70px;
    padding-top: 30px;

}
#Name{
    color:aqua;

}
.content {
    border: 2px;
    display: flex;
    justify-content: space-between;
    gap:20%;
    color:antiquewhite;
    padding-left: 700px;
    padding-top: 20px;
    padding-right: 50px;
    text-decoration: none;
}
.position{
    position: fixed;
}
.content a{
    color:rgb(246, 200, 141);
    padding-top:20px;
    font-size: 150%;
    text-decoration: none;
}

a:hover{
    font-size:175%;
    color:rgb(240, 119, 12);
}